.close-bibli {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */

#bibli {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#bibli.hidden {
  display: none;
}

.deck {
  width: 200px;
  height: 250px;
}
.card.b {
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/c1/59/b4/c159b4738dae9c9d8d6417228024de8d.jpg");
  background-size: 102.5% 101.5%;
  background-position: center;
}
.card.k {
  /*   background-image:url('http://www.madore.org/~david/images/cards/english/king-clubs.png'); */
  background-size: 101% 102%;
  background-position: 0% -5px;
  width: 400px;
  height: 550px;
  transform: scale(0.5, 0.5);
  transform-origin: left top;
  padding: 20px;
  margin-top: 10px;
}
.card p {
  font-size: 1em;
  text-align: justify;
  overflow: hidden;
}
.card.g {
  background-color: red;
  z-index: 1;
  /*   transform:rotateZ(0) !important; */
}
.card {
  height: 18em;
  width: 13.5em;
  border-radius: 16px;
  margin-bottom: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  border: 1px solid #726a53;
  background-color: #f8f5ed;
  overflow: hidden;

  box-sizing: border-box;
  transition: 0.6s;
  font-size: 18px;
  -webkit-box-shadow: 5px 5px 7px #bb86fc70, -5px -5px 7px #bb86fc54;
  box-shadow: 5px 5px 7px #bb86fc70, -5px -5px 7px #bb86fc54;
  z-index: 0;
  /*   transform-origin: left top; */
}
.card p {
  padding: 0px;
  margin-top: 0px;
}

.flip-container .card {
  -webkit-font-smoothing: antialiased;
  transform-origin: right top;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  z-index: 2;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg) translate(-50%, -35%);
  z-index: 50;
}

.flip-container.hide .flipper {
  z-index: -1;
  /*   transition: 0.3s; */
  /*   transition-delay: 0.3s; */
  animation: animationFrames linear 0.55s forwards;
  animation-iteration-count: 1;
}
.flip-container.hide .card {
  z-index: -1;
}
.flip-container .b {
  box-shadow: none;
}

.flip-container.flip .front .card {
  transform: scale(2, 2);
}
.flip-container.flip .back .card {
  transform: scale(1, 1);
}

.flipper,
.front,
.back {
  width: 200px;
  height: 275px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: left center;
}

/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* 	z-index: 2; */
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

@keyframes animationFrames {
  0% {
    transform: translateX(0) rotateY(180deg);
    z-index: 1;
  }
  50% {
    transform: translateX(-200%) rotateY(0deg) rotateZ(15deg) scale(0.7, 0.7);
    z-index: -10;
  }
  100% {
    transform: translateX(0) rotateY(0deg) scale(0.9, 0.9);
    z-index: -10;
  }
}
.card.g.b {
  background-color: green;
}

.test {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 300px;
  background-color: red;
}
.flip-container.stayBack {
  z-index: -10;
  position: absolute;
  display: none;
}
.flipcard {
  position: absolute;
  top: 100;
  left: 100;
  z-index: 1;
}

.flip-container.hide {
  z-index: -1;
  /*   transition: 0.3s; */
  /*   transition-delay: 0.3s; */
  animation: animationHide linear 0.55s forwards;
  animation-iteration-count: 1;
}

@keyframes animationHide {
  0% {
    z-index: 1;
  }
  50% {
    z-index: -10;
  }
  100% {
    z-index: -10;
  }
}

.card.b img {
  object-fit: cover;
  height: 100%;
}

#textContainer{
  width: 90%;
  height: 90%;
  overflow: scroll;
    margin: auto;
 
}
