/* 241.88976378 */
/* 336.37795276 */

/* .carte {
  width: 150px;
  height: 300px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carte h2 {
  color: white;
} */

body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0%;
  background: rgb(121, 9, 86);
  background: linear-gradient(
    180deg,
    rgba(121, 9, 86, 1) 0%,
    rgb(44, 8, 71) 50%,
    rgb(34, 11, 44) 100%
  );
  /* background-color: #300f3d; */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

/* End Non-Essential  */

.property-card {
  margin: 20px;
  height: 18em;
  width: 13.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 7px #bb86fc70, -5px -5px 7px #bb86fc54;
  box-shadow: 5px 5px 7px #bb86fc70, -5px -5px 7px #bb86fc54;
  flex-shrink: 0;
}

.wrong .carte {
  animation: pulseW 4s;
}

@-webkit-keyframes pulseW {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(206, 27, 24, 0.893);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 73, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 65, 44, 0);
  }
}
@keyframes pulseW {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(252, 40, 3, 0.759);
    box-shadow: 0 0 0 0 rgba(215, 14, 4, 0.74);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 73, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 55, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}

.right .carte {
  animation: pulseR 4s;
}

@-webkit-keyframes pulseR {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 243, 4, 0.837);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(105, 204, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 44, 0);
  }
}
@keyframes pulseR {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(98, 252, 3, 0.759);
    box-shadow: 0 0 0 0 rgba(121, 204, 44, 0.596);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(89, 204, 44, 0);
    box-shadow: 0 0 0 10px rgba(63, 204, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(89, 204, 44, 0);
    box-shadow: 0 0 0 0 rgba(44, 204, 52, 0);
  }
}

#timeLine .property-card {
  height: 14.4em;
  width: 10.8em;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image img {
  height: 100%;
  /* width: 13.5em; */
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-description h2 {
  margin-bottom: 0px;
  margin-top: 11px;
  white-space: pre-wrap;
}
.property-description p {
  margin-top: 3px;
  white-space: pre-wrap;
}

/* Bottom Card Section */

.property-description {
  background-color: #fafafc;
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: center;
}

.property-card:hover .property-description {
  height: 6em;
  padding: 0px 1em;
}
.property-card:hover img {
  height: 18em;
}

#mesCards {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  margin-left: -6.75em;
  bottom: 0;
  z-index: 2;
}

#mesCards .draggable {
  display: none;
}

.draggable {
  position: relative;
  display: flex;
  justify-content: center;
}
#timeLine .draggable::before {
  content: "";
  position: absolute;
  left: 50%;
  border-left: 1px solid yellow;
  height: 20px;
}

#mesCards .draggable:first-child {
  display: block;
}

/* .carte {
    margin-top: 10px;
  
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5%;
    cursor: move;
    flex-shrink: 0;
    margin: 20px;
  } */

.carte h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.carte p {
  font-size: 0.8em;
}

.carte img {
  width: 100%;

  object-fit: cover;
  /* filter: grayscale(1) brightness(1.5); */
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/* #timelineCont {
  width: 100vw;
  overflow-x: auto;
} */

#timelineCont {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  left: 0;

  user-select: none;
  cursor: pointer;
}

/* #timeLine {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(50% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    padding: 0 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */

/* #timeLine{
      display: grid;
      grid-gap: calc(20px / 2);
      grid-template-columns: 10px;
      grid-template-rows: minmax(150px, 1fr);
      grid-auto-flow: column;
      grid-auto-columns: calc(50% - 20px * 2);
    
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      padding-bottom: calc(.75 * 20px);
      margin-bottom: calc(-.25 * 20px);
    } */

#timeLine {
  height: 290px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: 100px;
  flex-shrink: 0;
  border-top: 1px solid yellow;

  white-space: nowrap;
}
#timeLine::before,
#timeLine::after {
  content: "";
  margin: auto;
}

#mesCards .property-card:hover img {
  height: 28em;
}

.close-speechBubble {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}


.speechBubble {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #f6e7d7;;
  padding: 6rem;
  border-radius: 100px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.speechBubble :after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 81px 81px 0;
  border-color: transparent #f6e7d7 transparent transparent;
  bottom: -59px;
  left: 80%;
  margin-left: -38px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.lost {
  display: none;
}

.backImg {
  position: absolute;
  bottom: 0;
  left: 0;
}

img#img1 {
  left: 90%;
  transform: rotatey(180deg);
}

img#img2 {
  left: 73%;
}

img#img3 {
  left: 60%;
}

img#img4 {
  left: 25%;
}

img#img5 {
  left: 30%;
}

img#img6 {
  height: 136px;
}

img#img7 {
  left: 20%;
  bottom: 15%;
}

img#pulp {
  left: 80%;
  z-index: 7;
}

img#pulp.speech {
  animation: pulpSpeech 0.3s linear forwards;
  animation-iteration-count: 1;
}

img#pulp.stopSpeech {
  animation: pulpStopSpeech 0.3s linear forwards;
  animation-iteration-count: 1;
}
@keyframes pulpSpeech {
  from {
    transform: scale(1);
    bottom: 0px;
    /* left: 80%; */
  }

  to {
    transform: scale(1.7);
    bottom: 35px;
    /* left: 73%; */
  }
}

@keyframes pulpStopSpeech {
  from {
    transform: scale(1.7);
    bottom: 35px;
    /* left: 73%; */
  }

  to {
    transform: scale(1);
    bottom: 0px;
    /* left: 80%; */
  }
}

header{
  position: absolute;
    top: 0;
}
}

header h2 {
  position: absolute;
  color: rgb(255, 240, 254);
  left: 3%;
  font-weight: bold;
  font-size: 38px;
  top: 0%;
}

div.dateDiv {
  display: none;
}

#timeLine .right div.dateDiv {
  display: block;
  position: absolute;
  top: -25px;
  color: yellow;
}
/* #timeLine::before {
  content: "";
  border-top: 1px solid yellow;
  width: 100vw;
  position: absolute;
} */

#timelineCont.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

#line {
  position: absolute;
  border-top: 1px solid yellow;
  width: 100%;
  top: 100px;
}

canvas {
  cursor: crosshair;
}
#home {
  position: absolute;
  z-index: 4;
}

header h2 {
  position: absolute;
  color: rgb(255, 240, 254);
  left: 26px;
  font-weight: bold;
  font-size: 38px;
  top: 26px;
}


#endGame {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  /* background-color: cadetblue; */
  width: 40%;
  height: 70vh;
  background-color: white;
  padding: 6rem;
  border-radius: 30px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 10;
}

#endGame.hidden {
  display: none;
}
